/CamionetaBlindada.class
/CapitanAmerica.class
/Enemigo.class
/Heroe.class
/Hulk.class
/IronMan.class
/Nave.class
/Personaje.class
/Robot.class
/SpiderMan.class
/TanqueCm.class
/TanqueCr.class
/Thanos.class
/Thor.class
